
/* # is ID, . is class */

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	background: #243b81;
	color: #fff;
	margin: 15px 50px;
}

h1, h2 {
	text-align: center;
}

#intro {
	padding-top: 30px;
	padding-left: 20px;
}

#head {
	width: 200px;
	margin-left: 80px;
}

.section {
	border: solid 5px #ef4923;
	border-radius: 1.5em;
	margin: 20px 0px;
}



.sectionIcon {
	display: block;
	margin: auto;
	
}

.icon {
	display: block;
	margin: auto;
	padding: 20px 0px;
}

.song {
	padding: 10px;
}

.details {
	padding: 10px 40px;
}

.detailsSong {
	margin: 10px 5px 10px 10px;
}

audio {
	width: 100%;
}

@media screen and (max-width: 768px) {
	
}
	


@media screen and (max-width: 375px) {
	
	body {
		margin: 0px;
	}
	
	.section {
		
		
	}
	
	.sectionIcon, .icon {
		
		display: block;
		margin: auto;
	}
	
}