
/* # is ID, . is class */

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	background: #243b81;
	color: #fff;
	margin: 15px 50px;
}

h1, h2 {
	text-align: center;
	color: #ef4923;
	padding-bottom: 20px;
}

#intro {
	padding-top: 30px;
	padding-left: 20px;
}

#head {
	width: 200px;
	margin-left: 80px;
}

.section {
	border: solid 5px #ef4923;
	border-radius: 1.5em;
	margin: 20px 0px;
}



.sectionIcon {
	display: block;
	margin: auto;
	
}

.icon {
	display: block;
	margin: auto;
	padding: 20px 0px;
}

.song {
	padding: 10px;
}

.details {
	margin: 15px 0px 25px;
	padding: 20px 0px 40px;
	background: #fff;
	color: #243b81;
	font-size: 1.5em;
	border-radius: 1.5em; 
}

#twobitscheer {
	text-align: center;
	font-style: italic;
}

.solo {
	display: block;
	margin: auto;
}


.para {
	padding: 20px 50px 10px;

}

.detailsSong {
	margin: 10px 5px 10px 10px;
}

audio {
	width: 100%;
}

/*
#empty {
	background: #fff;
	margin: 500px 0px 0px;
}
*/

footer {
	
}


@media screen and (max-width: 768px) {
	
}
	


@media screen and (max-width: 375px) {
	
	body {
		margin: 0px;
	}
	
	#intro {
		padding: 10px 5px 0px;
	
	}

	#head {
		display: block;
		margin: auto;
	}
	
	.section {
		margin: 10px 0px;
		
	}
	
	.sectionIcon, .icon {
		
		display: block;
		margin: auto;
	}
	
	.detailsM {
		margin: 0px;
		padding: 0px;
	}
	
}